body {
    background: #fff;
    color: #000;
    font-size: 18px;
    line-height: 24px;
    font-family: "ff-basic-gothic-web-pro", Verdana,Arial,Sans-serif;
}

a {
    text-decoration: none;
    
}

a:hover {
    text-decoration: underline;
}

a.sourceLink {
    position: relative;
    top: -24px;
    left: 30px;
    font-size: 12px;
}

h2 {
    text-align: center;
}

.canvas {
    border-radius: 12px;
    border: thin solid lightgray;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    display: block;
    margin-top: 18px;
}

#main {
    position: relative;
    width: 960px;
    margin: 0 auto;
}

#main > div {
    padding: 10px;
    overflow: hidden;
}

#headers {
    position: absolute;
    left: 0px;
    width: 240px;
    top: 28px;
}

#paper {
    position: absolute;
    left: 240px;
    width: 240px;
    top: 28px;
}

#processing {
    position: absolute;
    left: 480px;
    width: 240px;
    top: 28px;
}

#raphael {
    position: absolute;
    left: 720px;
    width: 240px;
    top: 28px;
}

pre {
    font-size: 12px;
    line-height: 14px;
}


